1401_Julian_dejuan/data/catalog.dtd

        <!ELEMENT catalog (movie)*>
        <!ELEMENT movie (id|image|score|genre|title|year|description|price)*>
        <!ELEMENT id (#PCDATA)>
        <!ELEMENT image (#PCDATA)>
        <!ELEMENT score (#PCDATA)>
        <!ELEMENT genre (#PCDATA)>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT year (#PCDATA)>
        <!ELEMENT description (#PCDATA)>
        <!ELEMENT price (#PCDATA)>
        